{% extends 'base.html' %}
{% load static django_bootstrap5 %}

{% block title %}Create account — Restore4Life{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-lg-5 mx-auto">
        <img class="my-4 img-fluid" style="max-width: 110px;" src="{% static 'img/restore4life_mark.png' %}" alt="">
        <p>
            Enter your email address. We will send you a link to confirm it and create your account.
        </p>
        <form method="POST" class="text-start">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Create account" %}
        </form>
        <p class="mt-3"><a href="{% url 'login' %}">Already have an account? Sign in here</a>.</p>
    </div>
</div>
{% endblock %}
