<div class="container-xxl">
    <div class="row" id="alerta">
        <div class="offset-1 col-10 text-center">
            <div class="alert alert-primary" role="alert">
                <h2>Importante</h2>
                <p>En función de la carga del sistema esta pantalla puede tardar varios segundos en terminar la carga. Las distintas secciones se irán habilitando según la carga termine.</p>
                <p>Cuando termine el proceso, se cerrará este anuncio.</p>
            </div>
        </div>
    </div>
</div>