{% load static sass_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="origin">
    <title>{% block title %}Restore4Life — Danube Wetlands HydroApp{% endblock %}</title>
    <link rel="stylesheet" href="{% sass_src 'css/restore.scss' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    {% block head %}{% endblock %}
    {% include "matomo.html" %}
    {% include 'js_imports.html' %}
</head>

<body class="d-flex flex-column min-vh-100">
    {% include "navbar.html" %}
    <main class="{% block container_size %}container-xxl{% endblock container_size %} pt-3 flex-grow-1">
        {% block content %}{% endblock content %}
        {% include "messages.html" %}
    </main>
    {% include "footer.html" %}
    {% include "init_pills.html" %}
</body>
</html>
