{% load static %}

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'jquery-ui/dist/jquery-ui.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'leaflet.fullscreen/Control.FullScreen.js' %}"></script>
<script src="{% static 'leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script src="{% static 'js/areas.js' %}"></script>
<script src="{% static 'js/hydroperiod.js' %}"></script>
