{% load static %}

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'jquery-ui/dist/jquery-ui.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'leaflet.fullscreen/Control.FullScreen.js' %}"></script>
<script src="{% static 'js/ambitos.js' %}"></script>
<script src="{% static 'js/hidroperiodo.js' %}"></script>

{% comment %}
<script src="{% static 'bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script src="{% static 'bootstrap-table/dist/locale/bootstrap-table-es-ES.min.js' %}"></script>
<script src="{% static 'bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js' %}"></script>
<script src="{% static 'tableexport.jquery.plugin/libs/FileSaver/FileSaver.min.js' %}"></script>
<script src="{% static 'tableexport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js' %}"></script>
<script src="{% static 'tableexport.jquery.plugin/tableExport.min.js' %}"></script>
<script src="{% static 'bootstrap-table/dist/extensions/export/bootstrap-table-export.js' %}"></script>
<script src="{% static 'bootstrap-table/dist/extensions/toolbar/bootstrap-table-toolbar.min.js' %}"></script>

<script src="{% static 'leaflet.pattern/dist/leaflet.pattern.js' %}"></script>
<script src="{% static 'leaflet-gpx/gpx.js' %}"></script>

<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
<script src="{% static 'hammerjs/hammer.js' %}"></script>
<script src="{% static 'chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js' %}"></script>

<script src="{% static 'js/tabla.js' %}"></script>
<script src="{% static 'js/mapa.js' %}"></script>
{% endcomment %}